// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Luckfox Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-ipc.dtsi"

/ {
	model = "Luckfox Pico Mini";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";
};

/**********SFC**********/
&sfc {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********SDMMC**********/
&sdmmc {
	max-frequency = <50000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	status = "okay";
};

/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};

/{
	backlight:backlight {
        compatible = "gpio-backlight";
        gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
        default-on;
    };

	/*LCD_DC*/
    gpio1pb2:gpio1pb2 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio1_pb2>;
        regulator-name = "gpio1_pb2";
        regulator-always-on;
    };

	/*LCD_RES*/
    gpio1pb3:gpio1pb3 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio1_pb3>;
        regulator-name = "gpio1_pb3";
        regulator-always-on;
    };
};

&pinctrl {

	/*LCD_DC*/
    gpio1-pb2 {
        gpio1_pb2:gpio1-pb2 {
            rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

	/*LCD_RES*/
    gpio1-pb3 {
        gpio1_pb3:gpio1-pb3 {
            rockchip,pins = <1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

	spi0 {
		spi0m0_pins: spi0m0-pins {
            rockchip,pins =
                /* spi0_clk_m0 */
                <1 RK_PC1 4 &pcfg_pull_none>,
                /* spie_miso_m0 */
                // <1 RK_PC3 6 &pcfg_pull_none>,
                /* spi_mosi_m0 */
                <1 RK_PC2 6 &pcfg_pull_none>;
        };
		spi0m0_cs0: spi0m0-cs0 {
			rockchip,pins = <1 RK_PC0 4 &pcfg_pull_none>;
		};
	};
};

/* SPI0_M0 */
&spi0 {
	status = "okay";   

	display@0{			
		status = "okay";
		compatible = "okaya,rh128128t", "sitronix,st7735r";
		reg = <0>;
		spi-max-frequency = <40000000>;
		rotation = <0>;
		backlight = &backlight;
		dc-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;      //DC
		reset-gpios = <&gpio1 RK_PB3 GPIO_ACTIVE_HIGH>;    //RES
  };
};

/**********I2C**********/
/* I2C3_M1 */
&i2c3 {
	status = "disabled";
	clock-frequency = <100000>;
};

/**********UART**********/
/* UART3_M1 */
&uart3 {
	status = "disabled";
};

/* UART4_M1 */
&uart4 {
	status = "disabled";
};

/**********PWM**********/
/* PWM1_M0 */
&pwm1 {
	status = "disabled";
};